.home-icon {
    width: 60px;
    height: 60px;
}

.back-to-home {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.back-to-home:hover,
.back-to-home:focus {
    color: #876546;
    text-decoration: underline;
}